In [1]:
import pandas as pd

In [5]:
pd.read_csv("supported languages cohere.csv")

    Language Code Language Name
0              af     Afrikaans
1             als      Albanian
2              am       Amharic
3              an     Aragonese
4              ar        Arabic
..            ...           ...
171           xmf    Mingrelian
172            yi       Yiddish
173            yo        Yoruba
174           yue   Yue Chinese
175            zh       Chinese

[176 rows x 2 columns]